{% extends 'base.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
    <h1>Modifier le produit {{ product.name }}</h1>

    <div class="formulaire">
        {{ form_start(form) }}
            <div class="forms">
                <div class="form-row">
                    {{ form_row(form.imageFilename) }}
                </div>
                <div class="form-row">
                    {{ form_row(form.name) }}
                </div>
                <div class="form-row">
                    {{ form_row(form.price) }}
                </div>

                <div id="size-stocks">
                    {% for sizeStock in form.sizeStocks %}
                        <div class="form-row">
                            <label for="{{ sizeStock.quantity.vars.id }}">
                                Stock {{ sizeStock.vars.data.size }} :
                            </label>
                            {{ form_widget(sizeStock.quantity) }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-row">
                <button type="submit">Mettre à jour</button>
            </div>
        {{ form_end(form) }}
    </div>

    <a href="{{ path('app_backoffice') }}">Retour à la liste</a>
{% endblock %}
